<!DOCTYPE html>
<html lang="en" ng-app="ContentTopicApp" ng-cloak ng-init="editMode = false">

<head>
    <meta charset="UTF-8">
    <title>Content Topic</title>
    <link rel="stylesheet" type="text/css" href="../lib/bootstrap.min.css">
    <style>[ng\:cloak], [ng-cloak], .ng-cloak { display: none; }</style>
</head>

<body ng-controller="ContentTopicController">

    <!-- Get Content Topic Input -->
    <div>
        <input type="text" ng-model="topicIDInput" />
        <button ng-click="getContentTopic(topicIDInput)">Get</button>
    </div>

    <!-- Content Topic Info Normal -->
    <h3 ng-show="!editMode">{{topicData.title}}</h3>
    <h5 ng-show="!editMode">{{topicData.type}}</h5>

    <!-- Content Topic Info Edit -->
    <input type="text" ng-show="editMode" ng-model="topicData.title" />
    <select class="form-control" ng-show="editMode" ng-model="topicData.type">
        <option>Entity</option>
        <option>Individual</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
    </select>

    <!-- Edit, Cancel, Save Buttons -->
    <div>
        <button ng-if="!editMode" ng-click="startEditMode()">Edit</button>
        <button ng-if="editMode" ng-click="cancelEditMode();">Cancel</button>
        <button ng-if="editMode" ng-click="saveContentTopic()">Save</button>
    </div>

    <!-- Loop through Snippet Groups -->
    <div sv-root="snippetGroups" sv-part="topicData.snippetGroups">
        <div ng-repeat="(groupIndex, group) in topicData.snippetGroups" ng-show="(group.snippets | filter:filterSnippets()).length" sv-element>

            <!-- Snippet Group Title -->
            <!-- Handle for Re-ordering Snippet Groups -->
            <h4 ng-show="!editMode">{{group.title}}</h4>
            <h4 ng-show="editMode" sv-handle>== {{group.title}}</h4>
            <button ng-show="editMode" ng-click="deleteSnippetGroup(groupIndex)">Delete</button>

            <!-- Loop through Snippets -->
            <div sv-root="snippets" sv-part="group.snippets">
                <div ng-repeat="(snippetIndex, snippet) in group.snippets | filter:filterSnippets()" sv-element>

                    <!-- Handle for Re-ordering Snippets -->
                    <span ng-show="editMode" sv-handle>==</span>

                    <!-- Revealed Checkbox -->
                    <input type="checkbox" ng-model="snippet.revealed" />

                    <!-- Snippet Title -->
                    <span ng-show="!editMode" >{{snippet.title}}</span>
                    <input type="text" ng-show="editMode" ng-model="snippet.title" />

                    <!-- Add Text Snippet TODO: Insert these from controller -->
                    <span ng-if="snippet['@type'] == 'text'" ng-include="'../partials/TextSnippet.html'"></span>

                    <!-- Add List Snippet -->
                    <span ng-if="snippet['@type'] == 'list'" ng-include="'../partials/ListSnippet.html'"></span>

                    <button ng-show="editMode" ng-click="deleteSnippet(groupIndex, snippetIndex)">Delete</button>

                </div>
            </div>

            <!-- Add Snippet to Snippet Group -->
            <button ng-show="editMode" ng-click="addTextSnippet($index)">Add</button>

        </div>
    </div>

    <!-- Add New Snippet Group -->
    <button ng-show="editMode" ng-click="addSnippetGroup()">Add Category</button>

</body>

    <script src="../lib/angular.min.js"></script>
    <script src="../lib/angular-sortable-view.min.js"></script>
    <script src="../lib/jquery.min.js"></script>
    <script src="../lib/bootstrap.min.js"></script>
    <script src="../js/ContentTopicApp.js"></script>
    <script src="../js/ContentTopicControllers.js"></script>
    <script src="../js/ContentTopicServices.js"></script>

</html>