<!DOCTYPE html>
<html lang="en" ng-app="ContentTopicApp" ng-cloak ng-init="editMode = false">

<head>
    <meta charset="UTF-8">
    <title>Content Topic</title>
    <style>
        [ng\:cloak], [ng-cloak], .ng-cloak { display: none; }
    </style>
</head>

<body ng-controller="ContentTopicController">

    <!-- Content Topic Type -->
    <h3>{{topicData.type}}</h3>

    <!-- Edit, Cancel, Save Buttons -->
    <div>
        <button ng-if="!editMode" ng-click="startEditMode()">Edit</button>
        <button ng-if="editMode" ng-click="cancelEditMode();">Cancel</button>
        <button ng-if="editMode" ng-click="saveContentTopic()">Save</button>
    </div>

    <!-- Loop through Snippet Groups -->
    <div sv-root="snippetGroups" sv-part="topicData.snippetGroups">
        <div ng-repeat="(groupIndex, group) in topicData.snippetGroups" ng-show="(group.snippets | filter:filterSnippets()).length" sv-element>

            <!-- Snippet Group Title -->
            <!-- Handle for Re-ordering Snippet Groups -->
            <h4 ng-show="!editMode">{{group.title}}</h4>
            <h4 ng-show="editMode" sv-handle>== {{group.title}}</h4>

            <!-- Loop through Snippets -->
            <div sv-root="snippets" sv-part="group.snippets">
                <div ng-repeat="(snippetIndex, snippet) in group.snippets | filter:filterSnippets()" sv-element>

                    <!-- Handle for Re-ordering Snippets -->
                    <span ng-show="editMode" sv-handle>==</span>

                    <!-- Revealed Checkbox -->
                    <input type="checkbox" ng-model="snippet.revealed" />

                    <!-- Labels for Normal Mode -->
                    <span ng-show="!editMode" >{{snippet.title}}</span>
                    <span ng-show="!editMode" >{{snippet.content}}</span>

                    <!-- Input Boxes for Edit Mode -->
                    <input type="text" ng-show="editMode" ng-model="snippet.title" />
                    <input type="text" ng-show="editMode" ng-model="snippet.content" />
                    <button ng-show="editMode" ng-click="deleteSnippet(groupIndex, snippetIndex)">Delete</button>
                </div>
            </div>

            <!-- Add Snippet to Snippet Group -->
            <button ng-show="editMode" ng-click="addTextSnippet($index)">Add</button>

        </div>
    </div>

    <!-- Add New Snippet Group -->
    <button ng-show="editMode" ng-click="addSnippetGroup()">Add Category</button>

</body>

    <script src="../lib/angular.js"></script>
    <script src="../js/angular-sortable-view.js"></script>
    <script src="../js/ContentTopicApp.js"></script>
    <script src="../js/ContentTopicControllers.js"></script>
    <script src="../js/ContentTopicServices.js"></script>

</html>